// define any additional styles here

.navbar .links::before
  content: url("/WavyHeader.svg")
  display: inline-block
  opacity: 0.25
  position: relative
  margin-right: 1rem
  width: 236px

.theme-default-content
  pre, pre[class*="language-"]
    code
      color #476582